spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ats
    username: ats_user
    password: ats_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  redis:
    host: localhost
    port: 6380

server:
  port: 8081
